
header {
    margin-top: 10%;
}

#spells {
    display: inline-flex;
    width: 45%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.spell {
    display: inline-block;
    background-color: rgba(190, 129, 126);
    margin: .25em;
    padding: .3em;
    border: solid black 1px;
    border-radius: 9px;
}

.results {
    width: 50%;
    margin: 1em auto 1em auto
}

.button {
    display: inline-block;
    padding: .3em;
    margin: .3em;
    background-color: #9A0E16;
    color: #E1E1E1;
    border: solid black 2px;
    border-radius: 9px;
    font-size: 2.25em;
}

#selectedSpell {
    background-color: black;
    color: white;
}

#SearchTerm {
    padding: .3em;
    width: 500px;
    border: solid black 2px;
    border-radius: 9px;
    margin: 29px;
}

.largeTxt {
    font-size: 2.25em;
} 

.medTxt {
    font-size: 1.8em;
}

@media screen and (max-width: 500px) {
    .largeTxt {
        font-size: 1.2em;
    }
    .medTxt {
        font-size: 1em;
    }

    #SearchTerm {
        width: 80%;
    }

}